<section class="section section-advantages">
  <div class="container container-advantages">
    <p class="advantages-paragraph">Переваги</p>
    <h2 class="advantages-heading">Чому обрати нас?</h2>
    <p class="description-paragraph">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advantages-list">
      <div class="container-images">
        <div class="container-img-two">
          <li class="advantages-list-img">
            <picture>
              <source
                media="(min-width:1400px)"
                srcset="/img/advantages/image1-desk@1x-min.jpg 1x ../img/advantages/image1-des@2x-min.jpg 2x"
              />
              <source
                media="(min-width:768px)"
                srcset="
                  /img/advantages/image1-tab@1x-min.jpg 1x,
                  /img/advantages/image1-tab@2x-min.jpg 2x
                "
              />
              <source
                media="(max-width:768px)"
                srcset="
                  /img/advantages/image1-mob@1x-min.jpg 1x,
                  /img/advantages/image1-mob@2x-min.jpg 2x
                "
              />
              <img
                class="images-advantages"
                src="/img//advantages//image1-desk@1x-min.jpg"
                alt="Sustainability and environmental friendliness"
              />
            </picture>
            <h3 class="heading-list">Стійкість та екологічність</h3>
            <p class="paragraph-list">
              Виготовлені з органічної бавовни та переробленого пластику.
            </p>
          </li>
          <li class="advantages-list-img">
            <picture>
              <source
                media="(min-width:1400px)"
                srcset="
                  /img/advantages/image2-desk@1x-min.jpg 1x,
                  /img/advantages/image2-desk-2x-min.jpg 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                  /img/advantages/image2-tab@1x-min.jpg 1x,
                  /img/advantages/image2-tab@2x-min.jpg 2x
                "
              />
              <source
                media="(max-width:768px)"
                srcset="
                  /img/advantages/image2-mob@1x-min.jpg 1x,
                  /img/advantages/image2-mob@2x-min.jpg 2x
                "
              />
              <img
                class="images-advantages"
                src="/img/advantages/image2-desk@1x-min.jpg"
                alt="Strength and durability"
              />
            </picture>
            <h3 class="heading-list heading-two">Міцність і довговічність</h3>
            <p class="paragraph-list">
              Наші сумки мають посилені шви для тривалого використання.
            </p>
          </li>
        </div>
        <li class="advantages-list-img">
          <picture>
            <source
              media="(min-width:1400px)"
              srcset="
                /img/advantages/image3-desk@1x-min.jpg 1x,
                /img/advantages/image3-desk@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                /img/advantages/image3-tab@1x-min.jpg 1x,
                /img/advantages/image3-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width:768px)"
              srcset="
                /img/advantages/image3-mob@1x-min.jpg 1x,
                /img/advantages/image3-mob@2x-min.jpg 2x
              "
            />
            <img
              class="images-advantages"
              src="/img/advantages/image3-desk@1x-min.jpg"
              alt="Stylish and modern design"
            />
          </picture>
          <h3 class="heading-list">Стильний та сучасний дизайн</h3>
          <p class="paragraph-list paragraph-three">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </li>
      </div>
    </ul>
  </div>
</section>
