<section class="section section-assortment" id="section-assortment">
  <div class="container">
    <h2 class="assortment-title">Наші сумки</h2>
    <ul class="assortment-list">
      <li class="assortment-card">
        <div class="assortment-thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/stylish-and-desktop.jpg    1x,
                /img/assortment/stylish-and-desktop@2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/stylish-and-desktop.jpg    1x,
                /img/assortment/stylish-and-desktop@2x.jpg 2x
              " />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/stylish-and-mobile.jpg    1x,
                /img/assortment/stylish-and-mobile@2x.jpg 2x
              " />
            <img
              src="/img/assortment/stylish-and-mobile.jpg"
              alt="EcoBag Classic"
          /></picture>
        </div>
        <div class="assortment-card-content">
          <h3 class="assortment-title-bag">EcoBag Classic</h3>
          <p class="assortment-desc-bag">
            Елегантна та містка сумка для щоденного використання.
          </p>
          <p class="assortment-price-bag">$25</p>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-card">
        <div class="assortment-thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/strong-shopping-desktop.jpg    1x,
                /img/assortment/strong-shopping-desktop@2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/strong-shopping-desktop.jpg    1x,
                /img/assortment/strong-shopping-desktop@2x.jpg 2x
              " />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/strong-shopping-mobile.jpg    1x,
                /img/assortment/strong-shopping-mobile@2x.jpg 2x
              " />
            <img
              src="/img/assortment/strong-shopping-mobile.jpg"
              alt="EcoTote Shopper"
          /></picture>
        </div>
        <div class="assortment-card-content">
          <h3 class="assortment-title-bag">EcoTote Shopper</h3>
          <p class="assortment-desc-bag">
            Ідеальна для покупок, з <br />
            посиленими ручками.
          </p>
          <p class="assortment-price-bag">$30</p>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-card">
        <div class="assortment-thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/modern-eco-desktop.jpg    1x,
                /img/assortment/modern-eco-desktop@2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/modern-eco-desktop.jpg    1x,
                /img/assortment/modern-eco-desktop@2x.jpg 2x
              " />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/modern-eco-mobile.jpg    1x,
                /img/assortment/modern-eco-mobile@2x.jpg 2x
              " />
            <img
              src="/img/assortment/modern-eco-mobile.jpg"
              alt="EcoBackpack Urban"
          /></picture>
        </div>
        <div class="assortment-card-content">
          <h3 class="assortment-title-bag">EcoBackpack Urban</h3>
          <p class="assortment-desc-bag">
            Зручний рюкзак для міста з відділенням <br />
            для ноутбука.
          </p>
          <p class="assortment-price-bag">$45</p>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-card">
        <div class="assortment-thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/compact-crossbody-desktop.jpg    1x,
                /img/assortment/compact-crossbody-desktop@2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/compact-crossbody-desktop.jpg    1x,
                /img/assortment/compact-crossbody-desktop@2x.jpg 2x
              " />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/compact-crossbody-mobile.jpg    1x,
                /img/assortment/compact-crossbody-mobile@2x.jpg 2x
              " />
            <img
              src="/img/assortment/compact-crossbody-mobile.jpg"
              alt="EcoCrossbody Mini"
          /></picture>
        </div>
        <div class="assortment-card-content">
          <h3 class="assortment-title-bag">EcoCrossbody Mini</h3>
          <p class="assortment-desc-bag">
            Компактна сумка через плече для найнеобхіднішого.
          </p>
          <p class="assortment-price-bag">$20</p>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-card">
        <div class="assortment-thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/small-insulated-desktop.jpg    1x,
                /img/assortment/small-insulated-desktop@2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/small-insulated-desktop.jpg    1x,
                /img/assortment/small-insulated-desktop@2x.jpg 2x
              " />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/small-insulated-mobile.jpg    1x,
                /img/assortment/small-insulated-mobile@2x.jpg 2x
              " />
            <img
              src="/img/assortment/small-insulated-mobile.jpg"
              alt="EcoLunch Bag"
          /></picture>
        </div>
        <div class="assortment-card-content">
          <h3 class="assortment-title-bag">EcoLunch Bag</h3>
          <p class="assortment-desc-bag">
            Стильна та практична сумка для обідів.
          </p>
          <p class="assortment-price-bag">$15</p>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-card">
        <div class="assortment-thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/large-relaxed-desktop.jpg    1x,
                /img/assortment/large-relaxed-desktop@2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/large-relaxed-desktop.jpg    1x,
                /img/assortment/large-relaxed-desktop@2x.jpg 2x
              " />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/large-relaxed-mobile.jpg    1x,
                /img/assortment/large-relaxed-mobile@2x.jpg 2x
              " />
            <img
              src="/img/assortment/large-relaxed-mobile.jpg"
              alt="EcoBeach Tote"
          /></picture>
        </div>
        <div class="assortment-card-content">
          <h3 class="assortment-title-bag">EcoBeach Tote</h3>
          <p class="assortment-desc-bag">
            Велика сумка для пляжних речей з водонепроникною підкладкою.
          </p>
          <p class="assortment-price-bag">$35</p>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-card">
        <div class="assortment-thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/spacious-travel-desktop.jpg    1x,
                /img/assortment/spacious-travel-desktop@2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/spacious-travel-desktop.jpg    1x,
                /img/assortment/spacious-travel-desktop@2x.jpg 2x
              " />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/spacious-travel-mobile.jpg     1x,
                /img/assortment/spacious-travel-desktop@2x.jpg 2x
              " />
            <img
              src="/img/assortment/spacious-travel-mobile.jpg"
              alt="EcoTravel Duffle"
          /></picture>
        </div>
        <div class="assortment-card-content">
          <h3 class="assortment-title-bag">EcoTravel Duffle</h3>
          <p class="assortment-desc-bag">
            Містка дорожня сумка з додатковими кишенями.
          </p>
          <p class="assortment-price-bag">$60</p>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
      <li class="assortment-card">
        <div class="assortment-thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/assortment/bright-and-desktop.jpg    1x,
                /img/assortment/bright-and-desktop@2x.jpg 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/assortment/bright-and-desktop.jpg    1x,
                /img/assortment/bright-and-desktop@2x.jpg 2x
              " />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/assortment/bright-and-mobile.jpg    1x,
                /img/assortment/bright-and-mobile@2x.jpg 2x
              " />
            <img src="/img/assortment/bright-and-mobile.jpg" alt="EcoKids Bag"
          /></picture>
        </div>
        <div class="assortment-card-content">
          <h3 class="assortment-title-bag">EcoKids Bag</h3>
          <p class="assortment-desc-bag">Яскрава та зручна сумка для дітей.</p>
          <p class="assortment-price-bag">$22</p>
        </div>
        <button class="assortment-btn" type="button">Купити</button>
      </li>
    </ul>
  </div>
</section>
