<section class="section section-feedbacks">
  <div class="container container-feedbacks">
    <h2 class="feedbacks-title">
      Що говорять наші клієнти
    </h2>
    <ul class="list-feedbacks">
      <li class="feedbacks-items">
        <div class="stars">
          <ul class="stars-list">
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg>
            </li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
          </ul>
        </div>
        <p class="feedback">Сумка дуже зручна та стильна, використовую щодня!</p>
        <p class="author">Анна</p>
      </li>
      <li class="feedbacks-items">
        <div class="stars">
          <ul class="stars-list">
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg>
            </li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
          </ul>
        </div>
        <p class="feedback">Відмінна якість матеріалів, приємно здивована.</p>
        <p class="author">Ігор</p>
      </li>
      <li class="feedbacks-items">
        <div class="stars">
          <ul class="stars-list">
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg>
            </li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
          </ul>
        </div>
        <p class="feedback">Сумка повністю відповідає опису, рекомендую!</p>
        <p class="author">Олена</p>
      </li>
      <li class="feedbacks-items">
        <div class="stars">
          <ul class="stars-list">
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg>
            </li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star-fillled"></use>
              </svg></li>
            <li><svg class="icon-star" width="24" height="24">
                <use href="../img/icons.svg#icon-star"></use>
              </svg></li>
          </ul>
        </div>
        <p class="feedback">Швидка доставка та гарне обслуговування.</p>
        <p class="author">Сергій</p>
      </li>
    </ul>
  </div>
</section>