<footer class="section section-footer">
  <div class="container container-footer">
  <!--Logo-->
  <div class="footer-logo">
  <a class="link-logo" href="/index.html">
      <img
        class="logo"
        src="../img/logo.svg"
        alt="logo-company"
        width="103"
        height="39"
    /></a>
  </div>
  <!--Navigation-->
  <div class="nav-footer">
    <ul class="nav-List ">
<li class="nav-item"><a href="#about">Про нас</a>
  </li>
<li class="nav-item"><a href="#benefits">Переваги</a>
 </li>
<li class="nav-item"><a href="#products">Асортимент</a>
  </li>
<li class="nav-item"><a href="#gallery">Галерея</a>
  </li>
<li class="nav-item"><a href="#reviews">Відгуки</a>
  </li>
<li class="nav-item"><a href="#contacts">Контакти</a>
  </li>
</ul>
  </div>
  <!--Social icons-->
  <div class="social-footer">
    <ul class="footer-socials">
          <li class="socials-item">
            <a
              class="socials-link"
              href="https://instagram.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Instagram"
            >
              <svg class="socials-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
    <li class="socials-item">
            <a
              class="socials-link"
              href="https://linkedin.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Linkedin"
            >
              <svg class="socials-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
    <li class="socials-item">
            <a
              class="socials-link"
              href="https://linkedin.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Linkedin"
            >
              <svg class="socials-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
  </div>
  <!--Contacts-->
  <div class="footer-contacts">
  <div class="contacts">
    <address class="contacts nav">
        <ul class="contacts-list">
          <li class="contacts-item">
             <li class="contacts-item">
            <a  class="contacts-link" href="tel:+380999091122">+38 (099) 909-11-22</a>
        </li>
        <li class="contacts-item"><a  class="contacts-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
        </li>
        </ul>
    </address>
  </div>
  <!--Footer note-->
  <div class="copyright">
    ©️ 2025 EcoTote Всі права захищені.
  </div>
  </div>
  </div>
  </div>
</footer>




