<!--  -->

<header class="section-header">
  <div class="container-header">
    <a class="link-logo" href="../index.html">
      <img
        class="logo"
        src="/img/logo.svg"
        alt="logo-company"
        
       
    /></a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item"><a class="nav-link" href="#about">Про нас</a></li>
        <li class="header-nav-item"><a class="nav-link " href="#advantages">Переваги</a></li>
        <li class="header-nav-item"><a class="nav-link " href="#assortment">Асортимент</a></li>
        <li class="header-nav-item"><a class="nav-link " href="#gallery">Галерея</a></li>
        <li class="header-nav-item"><a class="nav-link " href="#feedbacks">Відгуки</a></li>
        <li class="header-nav-item"><a class="nav-link " href="#support">Контакти</a></li>
      </ul>
    </nav>
    <address class="address">
      <ul class="address-list">
        <li class="address-item">
          <a class="address-link active-header" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="address-item">
          <a class="address-link active-header" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <button type="button" class="menu-btn" data-menu-open>
      <svg class="burger" width="32" height="32">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="mobile-menu" data-menu>
      <div class="mobile-menu-header">
            <a class="link-logo" href="../index.html">
      <img
        class="logo"
        src="/img/logo.svg"
        alt="logo-company"
        width="103"
        height="39"
    /></a>
          <button class="mobile-close-btn" type="button" data-menu-close>
            <svg class="icon-close" width="8" height="8">
              <use href="/img/icons.svg#icon-close"></use>
            </svg>
          </button>
          </div>
        <div class="mobile-menu-container">
          
          
          <nav class="mobile-menu-nav">
            <ul class="mobile-menu-nav-list">
              <li class="mobile-menu-nav-item">
                <a class="mobile-menu-nav-link active-header" href="#">Про нас</a>
              </li>
              <li class="mobile-menu-nav-item">
                <a class="mobile-menu-nav-link active-header" href="#">Переваги</a>
              </li>
              <li class="mobile-menu-nav-item">
                <a class="mobile-menu-nav-link active-header" href="#">Асортимент</a>
              </li>
              <li class="mobile-menu-nav-item">
                <a class="mobile-menu-nav-link active-header" href="#">Галерея</a>
              </li>
              <li class="mobile-menu-nav-item">
                <a class="mobile-menu-nav-link active-header" href="#">Відгуки</a>
              </li>
              <li class="mobile-menu-nav-item">
                <a class="mobile-menu-nav-link active-header" href="#">Контакти</a>
              </li>
            </ul>
          </nav>
          <address class="mobile-menu-address">
            <ul class="mobile-menu-address-list">
              <li class="mobile-menu-address-item">
                <a class="mobile-menu-address-link active-header" href="tel:+380999091122"
                  >+38 (099) 909 11 22</a
                >
              </li>
              <li class="mobile-menu-address-item">
                <a
                  class="mobile-menu-address-link active-header"
                  href="mailto:hello@ecotote.com"
                  >hello@ecotote.com</a
                >
              </li>
            </ul>
          </address> 
  </div>
    </div>
</header>
