<!--  -->

<header class="section section-header">
  <div class="container container-header">
    <a class="link-logo" href="../index.html">
      <img
        class="logo"
        src="/img/logo.svg"
        alt="logo-company"
        width="103"
        height="39"
    /></a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#">Про нас</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Переваги</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Асортимент</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Галерея</a></li>
        <li class="nav-item"><a class="nav-link" href="#"></a>Відгуки</li>
        <li class="nav-item"><a class="nav-link" href="#">Контакти</a></li>
      </ul>
    </nav>
    <address class="address">
      <ul class="address-list">
        <li class="address-item">
          <a class="address-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="address-item">
          <a class="address-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <button type="button" class="menu">
      <svg class="burger" width="32" height="32">
        <use href="../img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
