body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #030a06;
  background-color: #ebf8ed;
}

/* .section {
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1400px) {
  .section {
    padding: 0 64px;
  }
} */
