/* Styles for Mobile devices */
.container {
  /* min-width: 320px;

  padding: 0 16px; */
}
/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  /* .container {
    max-width: 768px;
    padding: 0 32px;
  } */
}
/* Styles for Desktop devices */
@media screen and (min-width: 1158px) {
  /* .container {
    max-width: 1440px;
    padding: 0 64px;
  } */
}
