.section {
    background-color: #ebf8ed;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    padding: 32px 0;
}

.feedbacks-title {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 32px;
}

.stars-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 12px;

}

.icon-star {
    fill: #3ac04c;
}

.list-feedbacks {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.feedback {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030a06;
    margin-bottom: 12px;
}

.author {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 64px 16px;
    }

    .stars-list {
        margin-bottom: 24px;
    }

    .list-feedbacks {
        gap: 24px;
        row-gap: 32px;
    }

    .feedback {
        margin-bottom: 24px;
    }

    .feedbacks-items {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 64px 16px;
        padding-bottom: 114px;

    }

    .feedbacks-items {
        width: calc((100% - 24px * 3) / 4);
    }

    .feedbacks-title {
        font-size: 48px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        text-align: center;
        color: #030a06;
        max-width: 560px;
        margin-bottom: 80px;
    }

    .list-feedbacks {
        display: flex;
        position: relative;
    }

    .author {
        position: absolute;
        bottom: -24px;

    }


}