.section {
    background-color: #ebf8ed;
}

.section-feedbacks {
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
    padding: 32px 0;
}

h2 {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;
    display: flex;
    max-width: 288px;
    margin: auto;
    margin-bottom: 32px;
}

.stars-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;

}

.icon-star {
    fill: #3ac04c;
}

.list-feedbacks {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.feedback {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030a06;
    margin-bottom: 12px;
}

.author {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06
}