.section-footer {
  background-color: #75d281; /* фон на всю ширину */
  padding: 48px 0;
  width: 100%;
  color: #030a06;
  font-size: 16px;
}

.container-footer {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 0 16px;
}

.footer-logo .logo {
  min-width: 281px;
  min-height: 121px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-socials {
  display: flex;
  gap: 12px;
}

.footer-contacts {
  border-top: 1px solid rgba(3, 10, 6, 0.15);
  width: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 16px;
}

.contacts-nav {
  font-style: normal;
  width: 100%;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  transform: scale(1.5);
  opacity: 0.8;
}
.socials-icon {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@media screen and (min-width: 768px) {
  .section-footer {
    padding: 64px 0;
  }

  .container-footer {
    padding: 0 32px;
    max-width: 768px;
  }

  .footer-logo .logo {
    min-width: 164px;
    min-height: 70px;
  }

  .footer-contacts {
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 16px;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .section-footer {
    padding: 80px 0;
  }

  .container-footer {
    max-width: 1440px;
    padding: 0 64px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
