
.section-footer {
    background-color: #75d281;
    padding: 48px 0;
}
.container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 320px;
    gap: 48px;
}
.footer-logo {
    width: 272px;
    height:101px;
    display: flex;
    flex-direction: column;
    align-items: center;
    fill:#030A06;
}
.nav-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nav-List {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    gap: 32px;
}
.nav-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}
.footer-socials {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
}
.socials-item {
    width: 100%;
    height: 100%;
}
.socials-link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #000;
}
.contacts nav {
    font-style: normal;
    display: flex;
    gap: 32px;
    list-style: none;
    }
    .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    }
    .contacts-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}
.copyright {
    margin-top: 24px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #030a06;
    text-align: center;
}
.section-footer {
    position: relative;
}
.footer-contacts::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    transform: rotateX(calc (-50px + 50%));
    background-color: rgba( 3, 10, 6, 0.15);
}
   @media screen  and (min-width:768px) {
.section-footer {
    padding: 64px 0;
}
.container-footer {
    max-width: 768px;
    padding: 0 32px;
    gap: 32px;
}
.footer-logo {
    width: 280px;
    height: 121px;
}
.nav-footer {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}
.nav-List {
    flex-direction: row;
    gap: 32px;
    width: auto;
}
.footer-socials {
   justify-content: center;
   flex-direction: row;
   gap: 12px;
} 
.socials-item {
    width: 144px;
    height: 40px;
}
 .socials-link {
    width: 40px;
    height: 40px;
}
 .contacts nav {
    flex-direction: row;
    align-items: center;
    } 
.contacts-list {
    flex-direction: row;
    gap: 32px;
    } 
}

   @media screen  and (min-width:1158px) {
.section-footer {
    padding: 80px 0;
}

    .container-footer {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    padding: 0 64px;
    max-width: 1440px;
}

.footer-logo {
    width: 164px;
    height: 70px;
    flex-direction: row;
}
.nav-footer {
    gap: 32px;
    padding: 0 22px;
    margin-right: auto;
}
.footer-socials {
   justify-content: flex-end;
   margin-left: 50%;
}
.socials-link {
    width: 24px;
    height: 24px;
}
.footer-contacts {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: auto;
   gap: 16px;
   } 
}
