.section-gallery {
  padding: 32px 0;
}

.container-gallery {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.gallery-title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
  margin-bottom: 16px;
  max-width: 288px;
}

.gallery-description {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
  margin-bottom: 32px;
  max-width: 288px;
}

.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: center;
  justify-content: center;
}

.gallery-item-view {
  border-radius: 32px;
}

@media screen and (min-width: 768px) {
  .section-gallery {
    padding: 64px 0px;
  }
  .container-gallery {
    max-width: 768px;
    padding: 0 32px;
  }

  .gallery-title {
    max-width: 100%;
    margin-bottom: 24px;
  }

  .gallery-description {
    max-width: 100%;
  }

  .gallery-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
  }

  .gallery-item.item-first {
    order: 4;
  }
  .gallery-item-view.img-first {
    height: 340px;
    width: 340px;
  }
  .gallery-item.item-second {
    order: 2;
  }
  .gallery-item-view.img-second {
    height: 700px;
    width: 340px;
  }
  .gallery-item.item-third {
    order: 3;
    margin-top: -360px;
  }
  .gallery-item-view.img-third {
    height: 700px;
    width: 340px;
  }
  .gallery-item.item-fourth {
    order: 1;
  }
  .gallery-item-view.img-fourth {
    height: 340px;
    width: 340px;
  }
}
@media screen and (min-width: 1440px) {
  .container-gallery {
    max-width: 1440px;
    padding: 0 64px;
  }
  .gallery-title {
    font-size: 48px;
  }

  .gallery-item.item-third {
    margin-top: 0;
  }
  .gallery-item-view.img-first {
    height: 421px;
    width: 421px;
  }

  .gallery-item-view.img-second {
    height: 865px;
    width: 421px;
  }
  .gallery-item-view.img-third {
    height: 865px;
    width: 421px;
  }

  .gallery-item-view.img-fourth {
    height: 421px;
    width: 421px;
  }

  .gallery-item.item-first {
    margin-right: auto;
    margin-top: -445px;
  }
}
