.section-header {
  background-color: #75d281;
  font-size: 16px;
  padding: 14px 16px;
}

.container-header {
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 103px;
  height: 39px;
  flex-shrink: 0;
}

.header-nav-list,
.address-list {
  display: none;
}

.menu-btn {
  background-color: #75d281;
  border: none;
  width: 24px;
  height: 24px;
}

.burger {
  width: 22px;
  height: 16px;
  fill: #030a06;
}

.mobile-menu {
  padding-left: 20px;
  padding-right: 12px;
  padding-top: 14px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #75d281;
  /* font-size: 16px; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 32px;
  background-color: #75d281;
}
.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  background-color: #75d281;
}

.mobile-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #75d281;
  border: none;
}

.mobile-menu-nav {
  margin-bottom: 32px;
}
.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon-close {
  stroke: none;
  fill: #030a06;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .section-header {
    padding: 14px 32px;
  }
  .burger {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 1440px) {
  .burger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .section-header {
    padding: 18px 64px;
  }

  .header-nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .header-nav-list {
    display: flex;
    gap: 32px;
  }

  .address {
    margin: 0;
    padding: 0;
  }

  .address-list {
    display: flex;
    gap: 16px;
  }
}
